ref/*
test
*pyc
*.idf
*.xlsx
*.csv
*.xls
*.pdf
*.epw
PlayGame_Test-v25-For-PV.py
RL control ref/*
runs/*
wandb/*
Figures/*
Data/*
!Large office - 1AV940.idf
!USA_FL_Miami.722020_TMY2.epw
Archive results/*